<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <tr>
            <th>loginid</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Email</th>
            <th>PP</th>
        </tr>
        {%for user in users%}
        <tr>
            <td>{{user.loginid.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.email}}</td>
            <td>{{user.courseid.id}}</td>
            <td><img src="/uploads/{{user.profilepic}}" width="100" height="100" alt="image not loaded"/> </td>
            <td><a href="{%url 'deleteuser' user.id%}">delete</a></td>
        </tr>
        {%endfor%}
    </table>
</form>
</body>
</html>